/*
[  author ] ;- Muhammed alaraby
[  Date   ] ;- 19/10/19
[  Info   ] ;- main sass preprocessor style
*/
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  background: #f4f4f4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5rem;
}

.paragraph {
  color: #f70073;
  background-color: #ccc;
  font-size: 3rem;
  text-align: center;
}

#header {
  position: relative;
}

#header #Secondbox {
  background: #ff0000;
  width: 10px;
  height: 100px;
  position: absolute;
}

.secondbox {
  background: #ff0000;
  width: 100px;
  height: 100px;
  position: absolute;
}
